<% layout("/layouts/boilerplate.ejs") %>

<body>
    <h3 class=" offset-1">New listings:</h3>
    <div class="row">
        <div class="col-8 offset-2">
            <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required> 
                    <div class="valid-feedback"> Title entered</div>
                    <div class="invalid-feedback">Title is required.</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description.</label>
                    <textarea name="listing[description]" class="form-control" required> </textarea>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input class="form-control" name="listing[location]" placeholder="Enter location" type="text" required>
                    <div class="invalid-feedback"> Enter a valid Location.</div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-5">
                        <label for="price" class="form-label">Price</label>
                        <input class="form-control" name="listing[price]" type="text" placeholder="&#8377; 2500" type="number" required>
                        <div class="invalid-feedback">Valid price is required.</div>
                    </div>
                    <div class="mb-3 col-md-7">
                        <label for="country" class="form-label">Country</label>
                        <input class="form-control" name="listing[country]" placeholder="Country Name" type="text" required>
                        <div class="invalid-feedback">Your country name is needed.</div>
                    </div>
                </div>




                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image</label>
                    <input class="form-control" name="listing[image]" type="file"> 
                    <div class="invalid-feedback"> A proper image url.</div>
                </div>





                <!-- <textarea  id="" name="listing[description]" placeholder="enter description"></textarea> -->
                <button class="btn btn-dark mb-3 add-btn">Add</button>
            </form>
    </div>
    </div>
</body>